<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/public/css/background.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/navbar.css" type="text/css" rel="stylesheet"/>

</head>
<body>
    <nav class="navbar stuff">
        <div class="bnn">
            <div onclick="openSide()" >
            <i class="fa fa-bars fa-3x"></i>
        </div> 
        </div>
    </nav>
    <div id="side-menu" class="sidenav">
        <div class="btn-close" onclick="closeSide()">&times;</div>
        <div class ='welcome'>WELCOME,</div>
        <a href="/m"><i class="fa fa-newspaper"></i> ANNOUNCEMENTS</a>
        <a href="/m/tenant"><i class="fa fa-address-book" aria-hidden="true"></i> MANAGE TENANTS</a>
        <a href="/m/repair_admin"><i class="fa fa-wrench"></i> REPAIRS REQUESTS</a>
        <a href="/m/repairh"><i class="fa fa-calendar" aria-hidden="true"></i> REPAIR HISTORY</a>
        <a href="#"><i class="fa fa-comments"></i> CHAT MAYBE</a>
        <a href="/m/settings"><i class="fa fa-cog"></i> SETTINGS</a>    
        
        <span class="border-bottom" style="display:block"></span>
        
        <form action='/logout' method="GET">
            <button class="btn btn-danger logout" type="submit"><i class="fa fa-power-off"></i></button>
        </form>
    </div>
    <div class="body-page" onClick="closeSide()">
        <div class="container-lg">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8"><h2>123 Main Street</b></h2></div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>APT</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John Doe</td>
                                <td>5A</td>
                                <td>
                                    <form action="/m/tenant" METHOD="POST">
                                        <button ><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>Peter Parker</td>
                                <td>1A</td>
                                <td>
                                    <form action="/m/tenant" METHOD="POST">
                                        <button ><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>Fran Wilson</td>
                                <td>2A</td>
                                <td>
                                    <form action="/m/tenant" METHOD="POST">
                                        <button ><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            </tr>      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<style>
    .welcome {
        color: white
    }
    .con {
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%,-50%);
        background: white;
    }
    .table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}
</style>

<script>
    function openSide(){
        document.getElementById('side-menu').style.width = '300px';
    }
    
    function closeSide(){
        document.getElementById('side-menu').style.width = '0px';
    }
    </script>