<head>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bx-building-house'></i>
        <span class="logo_name">Daily Tenant</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/">
                <i class='bx bx-news' ></i>
                <span class="link_name">Annoucements</span>
            </a>
        </li>
        <li>
            <div class="icon-link">
                <a href="/repair">
                    <i class='bx bx-wrench' ></i>
                    <span class="link_name">Repairs</span>
                </a>
            </div>
            <ul class="sub-menu">
                <li><a class='link_name' href="#">Request</a></li>
                <li><a href="/repair">Request</a></li>
                <li><a href="/history">View History</a></li>
            </ul>
        </li>
        <li>
            <a href="/message">
                <i class='bx bx-message-square-edit' ></i>
                <span class="link_name">Message Landlord</span>
            </a>
        </li>
        <li>
            <form action='/logout?_method=DELETE' method="POST">
                <button type="submit">Log Out</button>
            </form>
        </li>
    </ul>
</div>

<style>
    /*Googel Fonts Import Link*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Oswald', sans-serif;
}

.sidebar {
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 260px;
background: rgba(0, 0, 0, .6);
}

.sidebar .logo-details {
height: 60px;
width: 100%;
display: flex;
align-items: center;
background: black;
}

.sidebar .logo-details i{
font-size: 30px;
color: white;
height: 50px;
min-width: 78px;
text-align: center;
line-height: 50px;
}

.sidebar .logo-details .logo_name{
font-size: 22px;
color: white;
}

.sidebar .nav-links {
height: 100%;
padding: 5px;
}

.sidebar .nav-links li {
position: relative;
list-style: none;
transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
background: rgb(36, 35, 35);
}

.sidebar .nav-links li .icon-link {
display: flex;
align-items: center;
justify-content: space-between;
}

.sidebar .nav-links li i{
height: 50px;
min-width: 78px;
text-align: center;
line-height: 50px;
color: white;
}

.sidebar .nav-links li a{
display: flex;
align-items: center;
text-decoration: none;
}

.sidebar .nav-links li a .link_name{
font-size: 18px;
font-weight: 400;
color: white;
padding: 20px;
}

.sidebar .nav-links li .sub-menu {
padding: 6px 6px 14px 80px;
margin-top: -10px;
background: rgb(36, 35, 35);
/* display: none; */
}

.sidebar .nav-links li .sub-menu a {
color: white;
font-size: 15px;
padding: 5px 0;
white-space: nowrap;
opacity: 0.6;
transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
position: absolute;
left: 100%;
top: -10px;
margin-top: 0;
padding: 10px 20px;
border-radius: 2px 6px 6px 2px;
transition: all 0.3s ease;
opacity: 0;
pointer-events: none;
}

.sidebar.close .nav-links li:hover .sub-menu {
top: 0;
opacity: 1;
pointer-events: auto;
}

.sidebar .nav-links li .sub-menu .link_name {
display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
font-size: 18px;
opacity: 1;
display: block;
}

.main-page {
display: grid;
grid-row: auto auto;
row-gap: 5vh;
padding: 10px;
}

.form {
margin-left: 50vw;
}

.label {
margin-left: 40vw;
}

.new-bar {
margin-left: 0vw;
box-sizing: border-box;
min-width: 40%;
max-width: 70%;
min-height: 10vh;
background: gray;
border-radius: 5px 5px 5px 5px;
padding: 10px;
align-self: center;
}

.old-bar {
margin-left: 30vw;
box-sizing: border-box;
min-width: 40%;
max-width: 70%;
min-height: 10vh;
background: gray;
border-radius: 5px 5px 5px 5px;
padding: 10px;
}

#time_info {
margin-top: 20px;
}

#post {
word-break:break-all;
font-weight: normal;
background: rgba(255,255,255,.8);
margin-top: 10px;
padding: 20px;
border-radius: 10px 10px 10px 10px;
}
</style> 