<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
    <div>
        <img src="/public/images/error.png"/>
        <p>Sorry, we can not deliver to this address, would you like to go home?</p>
        <div class="button">
        <a class="btn btn-r btn-dark" href="/home">Go Home</a>
        </div>
    </div>
</body>
</html>

<style>
    body {
    background-color:#0096FF;
    overflow-x:hidden;
    }
    h1 {
        font-size: 10vh;
        color: black;
    }
    p {
        font-size: 30px;
        color: black;
    }
    img {
        max-height: 600px;
    }
    div {
        margin-left: 5%;
        margin-right: 5%;
    }
    
</style>