<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/public/css/background.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <h1>Welcome</h1>
    <div class="sht d-flex justify-content-center">
        <a href='#' class="btn-light w-25 btn-block" role="button">TENANT APPLY</a>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <a href='#' class="btn-light w-25 btn-block" role="button">LANDLORD APPLY</a>
    </div>
    
</body>

<style>

h1 {
    position: fixed;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    font-size: 10vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

.sht{
    text-align:center;
    justify-items: center;
    position: relative;
    top: 35vh;
}

a {
    height: 6vh;
}

.btn-light {
    background-color: white;
    color: black;
    border:2px solid black;
    padding: 15px;
}

.btn-light:hover{
    border:2px solid black;
}

</style>