<form action="/m/new" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="title" required>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <input type="text" class="form-control" id="body" name="body" placeholder="body" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<a class="btn btn-r btn-primary" href="/m/" role="button">Home Page</a>
