h1,h3 {
    font-weight: bold;
    font-size: 40px;
    color: black;
}

h2 {
    color: white;
}

.welcome {
    color: white
}

.topline {
    display: flex;
    padding: 1%;
}

.topline h3 {
    flex-grow: 1;
}

.col {
    position: relative;
    width: 90%;
    margin-left: 5%;
}

.newest{
    margin-top: 5vh;
}

.newest-container {
    font: normal;
    color: black;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    background: lightskyblue;
    border-radius: 10px 10px 10px 10px;
    overflow-y: auto;
}

.recent {
    top: 5vh;
    max-height: 65vh;
    overflow: auto;
}

.recent-container{
    background: rgb(125,206,255);
    padding-top:3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
}

#sp-div {
    margin-top: 10vh;
    font-size: 50px;
    margin-left: 5vw;
    color: skyblue;
}

#sp-btn {
    height: 75px;
    width: 200px;
    padding-top: 24px;
    color: white;
}

#del-btn {
    background:none;
    color: white;
    border:none;
    margin:0;
    padding:0;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    height: 20px;
    width: auto;
}

@media screen and (min-width: 940px) {
    .row {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100vw;
    }
}

@media screen and (max-width: 940px) {

    .row {
        display: block;
    }

    .col {
        position: relative;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .newest{
        margin-top: 5vh;
    }

    .recent {
        margin-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 600px) {

    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    .row {
        width: 100vw;
        margin: 0px;
        overflow:hidden;
    }

    .newest {
        max-height: 40%;
    }

    .recent {
        max-height: 40vh;
    }

    .nav-ann {
        width: 100%;
    }

    #sp-div{
        overflow:hidden;
    }
    
}