.welcome {
    color: white
}

.text{
    background: rgb(65, 74, 209);
    padding:5px;
}

.date {
    color: rgba(0,0,0,.4);
}

.body-page, .subcon2 {
    position: relative;
    width: 90%;
    margin-left: 5vw;
    background: black;
    height: 500px;
}

.body-page{
    margin-top: 5vh;
}

.subcon2 {
    top: 5vh;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.subcon2::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

@media screen and (min-width: 941px) {
    .row {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100vw;
    }
}

@media screen and (max-width: 940px) {
    .body-page, .subcon2 {
        position: relative;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        background: black;
    }

    .body-page{
        margin-top: 5vh;
    }

    .subcon2 {
    top: 5vh;
    padding-left: 20px;
    padding-right: 20px;
    }
}

.sub-container {
    width: 100%;
    font-size: 30px;
    padding: 20px;
}


.latest-container {
    font: normal;
    color: black;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    background: lightblue;
    border-radius: 50px 50px 50px 50px;
    overflow-y: auto;
}

.border {
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
}

h1,h3 {
    font-weight: bold;
    font-size: 50px;
    color: black;
}

#header1, #header2, #sp-btn {
    color: white;
}

#header1, #header2 {
    font-size: 40px;
}

#sp-div {
    margin-top: 10vh;
    font-size: 50px;
    margin-left: 5vw;
}

#sp-btn {
    height: 75px;
    width: 200px;
    padding-top: 24px;
}