    h2 {
        border-radius: 2px 2px 2px 2px;
        color: black;
        font-size: 4vh;
        position: relative;
        left:50%;
        right: 50%;
        transform: translate(-50%);
        top:10px;
        width: 90%;
        text-align: center;
    }

    a {
        margin-bottom: 1%;
    }

    .btn-r {
        width: 92%;
        margin-left: 4%;
    }

    .req-link {
        max-width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .Header {
        font-weight: bold;
        font-size: 50px;
        color: white
    }

    .dflt-msg {
        text-align: center;
        background: black;
        color: white;
        font-size: 50px;
    }

    .pendingContainer, .completedContainer{
        border-radius: 10px 10px 10px 10px;
        position: relative;
        height: 41vh;
        width: 90vw;
        margin-left:5vw;
        margin-right:5vw;
        background: rgb(125,206,255,0.8);
    }

    .completedContainer {
        margin-top: 5px;
    }

    .reqContainer, .comcon {
        position: relative;
        height: 80%;
        margin-top: 2%;
        overflow-y: auto;
    }

    .subtext {
        color: gold;
    }


