body {
    background: rgba(0,0,0,.4);
}

caption {
    background: white;
    border-radius: 15px 15px 15px 15px;
}

.table_container {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

th, td, input {
    padding: 8px;
    justify-items: center;
}

thead {
    background-color: black;
    color: white;
}

caption {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}



tbody tr {
    min-height: 50px;
    max-height: 100px;
    min-width: 76px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
}

button{
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    color: rgba(0,0,0,.5)
}

button:hover {
    cursor: pointer;
    color: rgba(0,0,0,1);
}

.btn-e {
    background: greenyellow;
}

.btn-r {
    background: rgb(245, 121, 121);
}

.btn-a {
    background: rgba(0, 128, 0, 0.815);
    color: white;
}

.btn-s {
    display: none;
    background: greenyellow;
}

.btn-c {
    display: none;
    background: rgb(245, 121, 121);
}


