form {
  background: rgba(0,50,50,.6);
  position: fixed;
  padding: 50px;
  top:45vh;
  left:50vw;
  width:75vw;
  transform: translate(-50%,-50%);
  color: white;
}

.tab{
  display:none;
}

.invalid{
  display:none;
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
    padding:1rem;
  }
}