thead{
    background-color: #01579b;
    color:white;
    text-align: center;
}

tbody tr:nth-child(even){
    background-color: #b3e5fc;
    color:black;
}

tbody tr:nth-child(odd){
    background-color: #e1f5fe;
    color:black;
}

td{
    text-align: center;
}

#scdc {
    margin-top: 3%;
}

.title{
    color:white;
}
.joinTable{
    background-color: white;
    margin-left: 6%;
    margin-right: 6%;
}

@media screen and (max-width: 600px) {

    .joinTable {
        width: 98%;
        margin:1%;
    }

    .search-con {
        width: 100%;
    }

    .title{
        width:100%;
        font-size:30px;
        text-align: center;
        padding-top:15px;
    }
}