.title{
    color:white;
}
.joinTable{
    background-color: white;
}

thead{
    background-color: #01579b;
    color:white;
    text-align: center;
}

tbody tr:nth-child(even){
    background-color: #b3e5fc;
    color:black;
}

tbody tr:nth-child(odd){
    background-color: #e1f5fe;
    color:black;
}

td{
    text-align: center;
}