.abc {
    background: white;
}

h1 {
    position: fixed;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    font-size: 10vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    color: #f0ffff;
}

.sh {
    text-align:center;
    justify-items: center;
    position: relative;
    top: 35vh;
}

a {
    height: 6vh;
}

.btn-light {
    background-color: #f0ffff;
    color: black;
    border:2px solid black;
    padding: 15px;
}

.btn-light:hover {
    border:2px solid black;
}

.container {
    background-color:  rgba(95, 184, 214, 0.8);
    position: relative;
    top: 40vh;
    width:100%;
    overflow:hidden;
}

.container1{
    margin:10px;
    width:48%;
    float:left;
    border:1px solid black;
}
.container2{
    margin:10px;
    top:10px;
    width:48%;
    float:right;
    border:1px solid black;
}
