.form-container-v1 {
    color: black;
    background: rgba(255,255,255,.5);
    border-top: 5px solid rgb(27, 74, 173);
    padding: 50px 60px;
    position: absolute;
    margin-top: 50%;
    width: 500px;
    height: 550px;
    top:50%;
    left:50%;
    margin-right: -50%;
    margin-top: 400px;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

.form-container-v2 {
    color: black;
    background: rgba(255,255,255,.5);
    border-top: 5px solid rgb(27, 74, 173);
    padding: 50px 60px;
    position: absolute;
    margin-top: 50%;
    width: 500px;
    height: 400px;
    top:50%;
    left:50%;
    margin-right: -50%;
    margin-top: 400px;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

.form-group input:focus{
    background: rgba(27, 74, 173, 0.7);
    color:white;
}

.btn-r {
    position: relative;
    left: 10px;
}

@media only screen and (max-width: 600px) {

    .form-container-v1 {
        width: 95%;
        margin-top: 45vh;
        padding: 15px;
        margin-left: 4%;
    }

    .form-container-v2 {
        width: 95%;
        margin-top: 45vh;
        padding: 15px;
        margin-left: 4%;
    }

    .row{
        width:100%;
    }
    .col-md-4 {
        padding: 0px;
        
    }
}

