.stuff{
    background: rgba(0,0,0);
    color:white;
}
.sett{
    font-size: 40px;
    font-weight: 600;
}
.bnn{
    background-color:black;
    display:flex;
    column-gap:20px;
}
.body-page{
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.8);
    padding: 50px 12%;
}
.bnn i{
    color: rgb(2, 119, 221);
}
.sidenav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background: rgba(0,0,0,.9);
    overflow-x: hidden;
    padding-top: 5%;
    transition: 0.2s;
}

.sidenav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size:25px;
    color: white;
    display: block;
}
.sidenav i{
    margin-left: 7px;
}
.sidenav .btn-close{
    position: absolute;
    top:0;
    right:22px;
    font-size:30px;
    color: white;
}

html{
    scroll-behavior: smooth;
}

/*Cover*/
.backcover{
    height: 350px;
    width: 100%;
    background: rgb(25, 65, 124);
    padding-top: 25px;
}
.logo{
    display: block;
    border-radius: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}
.title{
    font-size:20px;
    color: rgb(25, 65, 124);
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase; 
    margin: 100px 0px 20px;
}

/*Welcome*/
.intro h2{
    font-weight: bold;
    font-size: 50px;
    /* display:table-caption; */
    margin-left: 40px;
}
.intro p{
    margin: 10px 80px 50px;
    font-size: 20px;
    color: grey;
}
.intro a{
    display: inline-block;
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 100px;
}

/*About*/
.about p{
    font-size: 20px;
    margin: 0px 40px;
    text-align: justify;
}

/*Features*/
.features-content{
    margin: 0px 40px;
}
.features .ft{
    display: inline-block;
    margin: 0px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1.5px;
}
.features .ft-des{
    display: block;
    margin: 0px 20px 30px 90px;
    font-size: 15px;
    text-align: justify;
}

.features .ft-logo{
    display: inline;
    border-radius: 75%;
    width: 55px;
    height: 55px;
}

/*Our Team*/
.team-list{
    white-space: nowrap;
    overflow-x: auto;
}
.team .boxed{
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px; 
    height: 300px;
    width: 220px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(25, 65, 124);
    color: white;
    text-align: center;  
    font-weight: bold;
}

#sign-con {
    padding: 10px;
}

#sign-con-m {
    display: none;
}

.img1 {
    position:relative;
    margin-top: 20%;
    border-radius:100%
}

@media only screen and (max-width: 600px) {
    #sign-con {
        display: none;
    }

    #sign-con-m {
        display: flex;
    }

    #sign-con-m .log-btn {
        margin-top: 5px;
        margin-left: 1%;
        width: 48%;
    }

    .title{
        margin:auto;
        text-align: center;
        font-size:3rem;
    }

    .intro h2{
        font-weight: bold;
        font-size:2rem;
        text-align:center;
        margin:0;
    }

    .intro p {
        text-align:center;
    }

    .intro a{
        margin:0;
        width:100%;
        text-align:center;
    }
    
    .about p {
        width: 100%;
        margin: 0px;
        font-size: 1rem;
    }

    .features-content {
        margin: 0px;
    }

    .features .ft-logo {
        margin-left: -9vw;
    }

    .features .ft {
        margin: 0px;
        font-size: 15px;
    }

    .features .ft-des {
        margin: 15px;
    }


}
