tbody tr:nth-child(even){
    background-color: #b3e5fc;
    color:black;
}

tbody tr:nth-child(odd){
    background-color: #e1f5fe;
    color:black;
}

h1,h3 {
    text-align: center;
    color:whitesmoke;
}

thead{
    background-color: #01579b;
    color:white;
    text-align: center;
}

.tenant-list, .pending-list {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.individuals {
    color: black;
    display: flex;
    margin-bottom: 1rem;
}

.i-name {
    padding: 1%;
    width: 10%;
    background: #9ed0f7;
}

.ca {
    width: auto;
    margin-right: 5%;
}

.i-sub {
    flex-grow: 1;
}

@media screen and (max-width: 600px) {
    .tenant-list, .pending-list {
        width: 98%;
        margin: 1%;
    }

    .table td, .table th {
        padding: 1px;
        word-break: break-all;
        text-align: center;
        vertical-align: middle;
    }

    button {
        height: 90%;
        text-align:center;
    }
}

