.stuff{
    background: rgba(0,0,0);
    color:white;
}

.bnn {
    background-color:black;
    display:flex;
    column-gap:20px;
    }

.bnn i {
    color: rgb(2, 119, 221)
}

.ann{
    color:white;
}

.sidenav{
    height: 100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background: rgba(0,0,0,.9);
    overflow-x: hidden;
    padding-top: 5%;
    transition: 0.2s;
}

.sidenav a{
    padding:10px 10px 10px 30px;
    text-decoration: none;
    font-size:25px;
    color:white;
    display: block;
}

.sidenav i {
    margin-left: 7px;
}

.sidenav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:30px;
    color: white;
}

.logout{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 100%;
    height: 50px;
}