.request {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1em 2em;
  font-weight: bold;
}

.request h2 {
  color: #df933d;
  border-color: #ffffff;
  background: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;

  font-size: 40px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 5.5em 3em 1.5em;
}

.request .panel {
  width: 900px;
  display: flex;
}

.request .panel .issues {
  color: #000000;
  width: 200px;
  height: 300px;
  text-align: left;
  background-color: #df933d;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-left: 15px;
  overflow: auto;
}

.request .panel .issues .form-check label {
  color: black;
  font-size: 15px;
}

.request .issues textarea {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 10px;
  padding: 0.1em 0.3em;
}

.request .issues ::placeholder {
  vertical-align: top;
  text-align: left;
  font-style: italic;
}

.request .panel .date {
  color: #000000;
  width: 200px;
  height: 300px;
  text-align: left;
  background-color: #df933d;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-left: 20px;
  margin-right: 10px;
  overflow: auto;
}

.request .panel .date .date-check label {
  color: black;
  font-size: 15px;
}

.request .date-check textarea {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 10px;
  padding: 0.1em 0.3em;
}

.request .date-check ::placeholder {
  vertical-align: top;
  text-align: left;
  font-style: italic;
}

.request .panel .image {
  width: 600px;
  height: 300px;
  margin-left: 15px;
  background-color: #df933d;
  border: solid;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-right: -15px;
}

.request .form-group textarea {
  width: 900px;
  height: 300px;

  background-color: #df933d;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 10px;
  padding: 0.5em 1em;

  font-size: 15px;
  font-weight: bold;

  margin-top: 20px;
  display: block;
}

label {
  color: orange;
}

.request .form-group ::placeholder {
  vertical-align: top;
  text-align: left;
  color: #000000;
  font-weight: bold;
  font-style: italic;
}

.request .btn {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0;

  font-weight: bold;
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 10px;
  padding: 0.5em 1em;
  transition: all 0.25s;
}

.request .btn:hover {
  border-color: #c6a582;
  color: #c6a582;
  transform: translateY(-0.25em);
  cursor: pointer;
}

#datepicker {
  width: 50%;
}

#other {
  width:90%;
}

@media screen and (max-width: 720px) {
  .request .panel .image {
    margin-left: 50px;
  }
}
