.sett{
    font-size: 40px;
    font-weight: 600;
    color: white;
}
.body-page{
    position: relative;
    margin-left: 5vw;
    margin-right: 5vw;
}

/*Tabs*/
.bg-text{
    background-color: rgba(99, 110, 134, 0.8);
    position: fixed;
    width: 90vw;
    height: 100%;
    padding: 20px;
    text-align: left;
}

.tab{
    float: left;
    width: 30%;
    height: 100%;
}

.tab button{
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    text-transform: uppercase;   
    font-weight: bold;
}

.tab button:hover{
    background-color: #089add63;
    outline: none;
}

.tab button.active{
    background-color: #089add;
    outline: none;
}

.tabcontent{
    float: left;
    padding: 0px 12px;
    width: 70%;
    height: 100%;
    overflow-y: auto;
}

/*Catergory Titles*/
.cat-title{
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase; 
    color: black;
    margin: 10px 5% 15px;
    font-size: 16px;
}

/*Account*/
.account-info{
    color: black;
    margin-bottom: 100px;
    margin-left: 8%;
}

.change{
    margin-left: 8%;
}

.change input{
    height: 40px; width: 40%; 
    border-radius: 3px;
    margin: 0px 20px 10px; 
    padding-left: 15px;
}

.change button{
    padding:6px 15px; 
    color: white;
    background: #089add; 
    border-radius: 3px; 
    margin: 15px 0px 0px;
    margin-left: 70%;
    text-align: center;
} 

.change label{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.reset{
    margin: 0px 20% 100px; 
}

.reset button{
    margin-top: 15px;
    padding:6px 15px; 
    color: white;
    background: #089add; 
    border-radius: 3px;
    text-align: center;
}

/*Email Subscription*/
.overlay{ 
    position: fixed; 
    top: 0; bottom: 0; left: 0; right: 0; 
    background: rgba(0, 0, 0, 0.7); 
    transition: opacity 500ms; 
    visibility: hidden; 
    opacity: 0; 
}
.overlay:target{ 
    visibility: visible; 
    opacity: 1;
}

#overlay .popup{
    margin: auto; 
    padding: 50px 20px;
    background: white; 
    border-radius: 5px; 
    height: 350px; width: 690px; 
    position: fixed;    
    top: 30%;   
    left: 0px; right: 0px; 
    text-align: center;
}
#overlay .popup .close{
    position: absolute; 
    top: 0px;  right: 0px; 
    font-size: 30px;  
    color: white;
    text-align: center; 
    background: grey;  
    height: 40px;  width: 40px;    
    line-height: 40px;
}
#overlay .popup .close:hover{
    color: #0696d8;
}
#overlay .poptitle{   
    font-size: 24px;  
    text-transform: uppercase;  
    color: black;  
    font-weight: bold;  
    letter-spacing: 2px;  
    margin-bottom: 15px;
}
#overlay .boxcontent label{    
    /*max-width: 560px; */    
    font-size: 14px;
}
#overlay #subForm #subemail{    
    background: #EBEBEB;    
    border-radius: 3px;   
    height: 40px; width: 65%;    
    margin: 20px;    
    padding-left: 15px;
}
#overlay #subForm #subname{    
    background: #EBEBEB;    
    border-radius: 3px;    
    height: 40px; width: 65%;    
    margin-bottom: 20px;    
    padding-left: 15px;
}
#overlay #subForm button{       
    background: #089add;    
    padding: 3px 25px;    
    text-transform: uppercase;   
    font-size: 14px;    
    color: white;
    font-weight: bold;    
    line-height: 34px;      
    border-radius: 3px;    
    letter-spacing: 2px;
}
.openpop{
    padding: 6px 15px; 
    text-decoration: none !important;
    color:white !important; 
    background:#089add; 
    border-radius: 3px; 
    margin: 15px 20% 100px; 
    text-align: center;  
    display: inline-block;
}

/*Change Background*/
.bgimage{
    margin-left: 5%
}

.bgimage button{
    outline: none;
}