<form action="/test" method="POST">
    <div class="form-group">
        <label for="apt">apt</label>
        <input type="text" class="form-control" id="apt" name="apt" placeholder="title" required>
        <button type="submit">SUBMIT</button>
    </div>
</form>
<p> <%=user.id%> </p>
