<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/public/css/login.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/background.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/global.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
    <% if(messages.error) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= messages.error %>
        </div>
    <% } %>
    <div id="wrapper">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs--12"></div>
            <div class="col-md-4 col-sm-4 col-xs--12">
            <%# form start %>
            <form class="form-container-2" action='/login' method="POST">
                <div class="form-group">
                    <h1><i class="fa fa-building"></i>&nbsp&nbsp Login</h1>
                    <label for='email'>Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for='password'>Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    <a href="/reset" style="font-size: 13px; color:#063ed8;">Forgot Password?</a>
                </div>
                <button type="submit" class="btn btn-default">Login</button>
                <div>
                    <span>Make a new account?</span>
                    <a class="btn btn-r btn-primary" href="/register" role="button">Register</a>
                </div>
            </form>
            <%# form end %>
            </div>
            <div class="col-md-4 col-sm-4 col-xs--12"></div>
        </div>
    </div>
    
</body>
</html>