<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bx-building-house'></i>
            <span class="logo_name">Daily Tenant</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="index_a.html">
                    <i class='bx bx-news' ></i>
                    <span class="link_name">Annoucements</span>
                </a>
            </li>
            <li>
                <div class="icon-link">
                    <a href="repairs.html">
                        <i class='bx bx-wrench' ></i>
                        <span class="link_name">Repairs</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a class='link_name' href="#">Request</a></li>
                    <li><a href="repairs.html">Request</a></li>
                    <li><a href="repair_history.html">View History</a></li>
                </ul>
            </li>
            <li>
                <a href="message.html">
                    <i class='bx bx-message-square-edit' ></i>
                    <span class="link_name">Message Landlord</span>
                </a>
            </li>
            <li>
                <form action='/logout?_method=DELETE' method="POST">
                    <button type="submit">Log Out</button>
                </form>
            </li>
        </ul>
    </div>
</body>
</html>